.social-link i {
    color: #eceeef;
    background: #292b2c;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-shadow: none;
    cursor: pointer;
    font-size: 26px;
    line-height: 48px;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-link i:hover {
    background-color: rgb(114, 158, 198);
}

.social-link i:hover,
.social-link i:focus {
    color: #fff;
    text-decoration: none;
}

mark {
    background-color: #e3e4fc;
}
